.channelSideBarWrapper {
    margin-left: 4.8rem;
    width: 15%;
    background-color: #2B2D31;
    height: 100vh;
    font-family: "Lexend", sans-serif;
    color: #949BA4;
    padding: 0.5rem;
}

.channelSideBar {
    padding: 1rem;
}

.dropdown .dropdownHeader {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-bottom: 1rem;
}

.dropdown .dropdownHeader h5 {
    margin: 0;
}

.dropdownSelection {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-bottom: 0.5rem;
    margin-left: 0.8rem;
    width: 100%;
    padding: 0.5rem;
}

.dropdownSelection:hover {
    background-color: #3F4248;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.dropdownSelection h5 {
    margin: 0;
    align-self: center;
}

.dropdown .dropdownHeader h5:hover {
    color: #ffffff;
}

.dropdown .dropdownHeader .arrow {
    margin-right: 0.5rem;
    align-self: center;
}

.dropdown .dropdownHeader .plus {
    margin-left: auto;
}

.channelBlockHeader {
    width: fit-content;
}