.SideBarIcon {
    background-color: #313338;
    border-radius: 50%;
    padding: 0.4rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 60ms ease-out, border-radius 60ms ease-out;
}

.SideBarIcon.active::before {
    display: block;
    content: "";
    position: absolute;
    height: 2rem;
    left: -1px;
    border-left: #ffffff solid 4px;
    border-radius: 1rem;
}

.SideBarIcon:not(.active):hover:before {
    display: block;
    content: "";
    position: absolute;
    height: 1rem;
    left: -1px;
    border-left: #ffffff solid 4px;
    transform: translate(0px, 0px) scale(1, 0.25);
    animation: hoverBorderAnimation 70ms 1 ease-in;
    animation-fill-mode: forwards;
    border-radius: 1rem;
}

.SideBarIcon:hover {
    border: 0px solid rgba(100, 100, 100, 1);
    border-radius: 0.8rem;
    background-color: #5865F2;
    color: #ffffff;
    cursor: pointer;
}

.SideBarIcon:hover svg{
    color: #ffffff !important;
}

.sidebar-tooltip {
    display: none;
    position: absolute;
    left: 4.5rem;
    background-color: grey;
    color: #ffffff;
    border-radius: 0.5rem;
    padding: 0.3rem;
}

.SideBarIcon:hover .sidebar-tooltip {
    display: flex;
    transform: translate(10px, 0px);
    animation: toolTipAnimation 20ms 1 ease-in;
    z-index: -1;
    position: fixed;
}

@keyframes toolTipAnimation {
    from {
        transform: translate(-60px, 0px);
    }
}

@keyframes hoverBorderAnimation {
    from {
        transform: translate(0px, 0px) scale(1, 0.25);
    }
    
    to {
        transform: translate(0px, 0px);
    }
}