.SideBarIcon {
    background-color: #313338;
    border-radius: 50%;
    padding: 0.4rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 60ms ease-out, border-radius 60ms ease-out;
}

.SideBarIcon:hover {
    border: 0px solid rgba(100, 100, 100, 1);
    border-radius: 0.8rem;
    background-color: #5865F2;
    color: #ffffff;
}

.SideBarIcon:hover svg{
    color: #ffffff !important;
}

.sidebar-tooltip {
    display: none;
    position: absolute;
    left: 4.5rem;
    background-color: grey;
    color: #ffffff;
    border-radius: 0.5rem;
    padding: 0.3rem;
}

.SideBarIcon:hover .sidebar-tooltip {
    display: flex;
    transform: translate(10px, 0px);
    animation: toolTipAnimation 20ms 1 ease-in;
    z-index: -1;
}

@keyframes toolTipAnimation {
    from {
      transform: translate(-60px, 0px);
    }
}